h5py==3.1.0
imageio==2.13.5
imgaug==0.4.0
matplotlib==3.3.4
numpy
opencv-python==4.5.4.60
Pillow==8.4.0
pycodestyle==2.8.0
scikit-image==0.17.2
scipy==1.5.4
torch==1.10.0
torchaudio==0.10.0
torchsummary==1.5.1
torchvision==0.11.1
tornado==6.1
tqdm==4.62.3